@import url(https://fonts.googleapis.com/css?family=Montserrat);

body,
p,
h3 {
    margin: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}



#logo{
    height: 60px;
    width: 65px;
}

.botonalto{
    height: 40px;
}

.colorheader{
    background: black; 
}

.colorbtnvm{
    background-color: #961227; 
}

.fixedscroll{
    bottom: 20px;
    right:20px;
    z-index: 9999;
}

.fixedscroll:hover{
    transform: scale(1.2) translateZ(0) perspective(1px);
}

#recitales{
    background-color: black;
}


/*CSS SECCIONES TEAM Y CONTACTO*/

#container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgdread{
    width: 300px;
    height: 300px;
}

.logo {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.logo img {
    margin-top: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#text a {
    padding: 15px 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, .2);
    border: 2px solid white;
    border-radius: 6px;
    transition: .3s ease all;
}

#text a:hover {
    background: white;
    color: gray;
}


#content p {
    margin: 20px 0;
    width: 98%;
}
#team h2 {
    background-color: white;
    color: teal;
}


#contacto {
    color: rgb(241, 247, 241);
    background-image: url(/img/DreadMarI&GuerrerosDelRey.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    height: 700px;
}

.titulo{
    margin-top: 8rem;
    padding: 20px;
    background: rgba(153, 152, 152, 0.479);
}


footer{
    height: 300px;
    background: black;
}